$bgColor:#fff;
$btnColor:#2d95f5;
$btnTextColor:#fff;
$descColor:#a9a9a9;


$colors: (
        background:(

                bg-100dt: #2E3440,
                bg-200dt: #3B4252,
                bg-300dt: #434C5E,
                bg-400dt: #4C566A,
        
                bg-100: #D8DEE9,
                bg-200: #E5E9F0,
                bg-300: #ECEFF4,

                bg-btn-100:#8FBCBB,
                bg-btn-200:#88C0D0,
                bg-btn-300:#81A1C1,
                bg-btn-400:#5E81AC,
        ),
        color:(
                clr-100: #2E3440,
                clr-200: #3B4252,
                clr-300: #434C5E,
                clr-400: #4C566A,
        
                clr-100dt: #D8DEE9,
                clr-200dt: #E5E9F0,
                clr-300dt: #ECEFF4,  
        ),
        

);

// /*--Dark Colors---*/
// $Color100:#2E3440;
// $Color200:#3B4252;
// $Color300:#434C5E;
// $Color400:#4C566A;

// /*--Light Colors--*/
// $Color500:#D8DEE9;
// $Color600:#E5E9F0;
// $Color700:#ECEFF4;

// /*--Accent Colors--*/
// $Color800:#8FBCBB;
// $Color900:#88C0D0;
// $Color1000:#81A1C1;
// $Color1100:#5E81AC;

