@font-face {
    font-family: "Pacifico";   
    src: local("Pacifico-Regular"),
      url("../fonts/Pacifico-Regular.ttf") format("truetype");
  }

$fontLogo:'Pacifico';

/*---Main Fonts---*/
$Font100:'Arial, Helvetica, sans-serif';
$Font200:'Arial, Helvetica, sans-serif';
$Font300:'Arial, Helvetica, sans-serif';
$Font400:'Arial, Helvetica, sans-serif';
$Font500:'Arial, Helvetica, sans-serif';
$Font600:'Arial, Helvetica, sans-serif';

/*---Custom Fonts---*/
$FontCustom100:'Arial, Helvetica, sans-serif';
$FontCustom200:'Arial, Helvetica, sans-serif';
$FontCustom300:'Arial, Helvetica, sans-serif';
$FontCustom400:'Arial, Helvetica, sans-serif';
$FontCustom500:'Arial, Helvetica, sans-serif';
$FontCustom600:'Arial, Helvetica, sans-serif';
$FontCustom700:'Arial, Helvetica, sans-serif';
$FontCustom800:'Arial, Helvetica, sans-serif';
$FontCustom900:'Arial, Helvetica, sans-serif';

/*---General Fons*/
$FontGeneral100:$Font100;
$FontGeneral200:$FontCustom100;
$FontGeneral300:$FontCustom200;

/*---Button Nav Fonts---*/
$FontNavBtn:$Font200;

/*---Heading Font---*/
$FontHeading:$Font300;

/*---Date Font---*/
$FontDate:$Font400;