



@use 'colors' as *;

@each $color, $shades in $colors {
    
    @each $shade, $value in $shades {
        .#{$shade} {
            #{$color}: #{$value} !important;
        }
    }
}


.font-heading{
    font-family: 'Oswald', sans-serif !important;
}

.font-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.font-nav:hover{
    cursor: pointer;
}

/*Dodana klasa za kasnije za JS*/
.font-nav-focus{
    color:white;
}