/*--Color Utill Classes--*/

/*--Utility Classes Background Dark Theme--*/
.bgClrDT-100{
    background-color: $bgColor100dt;
}
.bgClrDT-200{
    background-color: $bgColor200dt;
}
.bgClrDT-300{
    background-color: $bgColor300dt;
}
.bgClrDT-400{
    background-color: $bgColor400dt;
}

/*--Utility Classes Font Colors Dark Theme--*/
.clrDT-100{
    color: $FontColor100dt;
}   
.clrDT-200{
    color: $FontColor200dt;
}   
.clrDT-300{
    color: $FontColor300dt;
} 

/*--Utility Classes Background Light Theme--*/
.bgClrLT-100{
    background-color: $bgColor100lt;
}
.bgClrLT-200{
    background-color: $bgColor200lt;
}
.bgClrLT-300{
    background-color: $bgColor300lt;
}

/*--Utility Classes Font Colors Light Theme--*/
.clrLT-100{
    color: $FontColor100lt;
}   
.clrLT-200{
    color: $FontColor200lt;
}   
.clrLT-300{
    color: $FontColor300lt;
} 
.clrLT-400{
    color: $FontColor400lt;
} 

/*--Utility Classes Button Colors--*/
.btnClr-100{
    color: $btnColor100;
}   
.btnClr-200{
    color: $btnColor200;
}   
.btnClr-300{
    color: $btnColor300;
} 
.btnClr-400{
    color: $btnColor400;
} 
